{% for i in controllers %}
server {{ i['cluster_ip'] }} iburst
{% if i['sto_ip'] != None and i['sto_ip'] != "" %}
server {{ i['sto_ip'] }} iburst
{% endif %}
{% endfor %}
allow {{ cluster_net }}
{% if sto_net != None and sto_net != "" %}
allow {{ sto_net}}
{% endif %}
stratumweight 0
driftfile /var/lib/chrony/drift
rtcsync
makestep 10 3
bindcmdaddress 127.0.0.1
bindcmdaddress ::1
local stratum 10
keyfile /etc/chrony.keys
commandkey 1
generatecommandkey
noclientlog
logchange 0.5
logdir /var/log/chrony

