---

- name: restart tserver services
  service: name={{ item }} state=restarted enabled=yes
  with_items:
    - Tserver
    - otc-ip
    - html5mmr-ws-server

- name: stop zero_evacuate service
  service: name=zero_evacuate state=stopped enabled=no
